@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{ 
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    color: #d1d0cf;
    background: #000000;

}
*::-webkit-scrollbar{
    height: 0;
    width: 0;
}
/* -------------------------------------------------------main header starts--------------------------------------------------- */
 /* ---------------------------------upper main--------------------------- */
header#main-header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    z-index: 26;
}
header#main-header.sticky{
    padding: 5px 100px;
    background: rgb(0, 0, 0);
}
/* ---------------------------------upper main ends----------------------------- */
img{
    cursor: pointer;
  }
  .flex-div{
    display: flex;
    align-items: center;
  }
  .header-left .logo{
    width: 100px;
    margin-left: 40px;
  }
  .header-right img{
    width: 25px;
    margin-right: 25px;
  }

  .header-right .user-icon{
    width: 30px;
    border-radius: 50%;
    margin-left: 1090px;
  }

  .search .material-symbols-outlined{
   z-index: 5;
   margin-right: -2060px;
    color: rgb(255, 255, 255);
  }


h1,h2,h3,h4,h5,h6{
    font-weight: 500;
    margin: 0;
    line-height: 1.2;
    color: #fff;
}
h1 a, h2 a, h3 a, h4 a,h5 a,h6 a{
    color: inherit;
}
 /* ----------------------------------------------------------------main header ends--------------------------------------------- */




/* ----------------------------------------------------------------main-slider starts------------------------------------------------ */
.main-slider{
    width: 100%;
    height: 600px;
}
.back-video{
    position: absolute;
    left: 0;
    right: 0;
    background-image: linear-gradient(rgb(0, 0, 0));
    bottom: 0;
    top: 0;
    
    z-index: -1
}
.raaa {
    width: 100%;
}
.slidermain {
    font-size: 100px;
    padding-top: 140px; 
    margin-top: 40px;
    margin-left: 35px;
   background: white;
   background-repeat: repeat-x;
   background-position: 100% 100%;
   color: transparent;
   background-clip: text;
   -webkit-font-smoothing : antialiased;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.playmore{
    cursor: pointer;
    padding-top: 175px;
}
.volume{
    margin-top: -175px;
}
#audio-control {
    margin-left: 1400px;
    cursor:pointer;
    padding: 10px 20px;
    background: none;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
  } 

.btn{
    outline: medium none;
    padding: 9px 30px;
    position: relative;
    display: inline-block;
    border-radius: 55px;
    cursor: pointer;
    z-index: 4;
    transition: all 0.5s ease-out 0s;
    margin-left: 70px;

}
.btn-hover{
    margin-left: 100px;
    color: #ffffff;
    background: #0000007e;    
    transition:color 0.3s ease;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    border-radius: 55px;

}
.btn-hover:hover{
    color: #060606;
    text-decoration: none;
    background: #d0cfcf;  
    transform: scaleX(1);
    transform-origin: 50%;
}

.btn-link{
    margin-left: 100px;
    color: #ffffff;
    background: #0000007e;    
    transition:color 0.3s ease;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    border-radius: 55px;
}
.btn-link:hover{
    color: #060606;
    text-decoration: none;
    background: #d0cfcf;  
    transform: scaleX(1);
    transform-origin: 50%;
}

.iq-button.btn{
    padding: 7px 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.iq-button.btn{
    padding: 12px 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
 /* -------------------------------------------------------------------main-slider ends----------------------------------------------- */


 @media (max-width: 900px){
  .main-slider{
    width: 100%;
    height: 350px;
}
  .header-right .user-icon{
    width: 30px;
    border-radius: 50%;
    margin-left: 460px;
  }
  
  .search .material-symbols-outlined{
    z-index: 5;
    margin-right: -820px;
     color: rgb(255, 255, 255);
   }
  
  #audio-control {
    margin-left: 800px;
    cursor:pointer;
    padding: 10px 20px;
    background: none;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
  } 
  .raaa{
    width: 900px;
  }
  .slidermain {
    font-size: 60px;
    padding-top: 90px; 
    margin-top: 20px;
    margin-left: 60px;
  }
  .playmore{
    padding-top: 45px;
 }
 .btn{
  margin-left: 50px;
 }
 .title {
  padding-top: 0;
 }
 .movies-list {
   width: 900px;
 }
 .card-container{
   width: 900px;
 }
 }


























  /* -----------------------------------------------------------------lower movie starts---------------------------------------------------------- */
 .title {
    margin-top: 10px;
    color: #fff;
    opacity: 0.9;
    padding-left: 1%;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    font-style: bold;
 }
 
 .movies-list {
    padding-right: 25%;
    width: 100%px;
    height: 269px;
    position: relative;
    margin: 0px 0 0px;
 }
 
 .card-container {
  
    margin-top: 10px;
    position: absolute;
    width: 100%;
    padding-left: 0%;
    height: 269PX;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
 }
 
 .card-container::-webkit-scrollbar {
    display: none;
 }
 
 .card {
    position: relative;
    min-width: 178.5px;
    width: 178.5px;
    height: 269px;
    border-radius: 0px;
    overflow: hidden;
    margin-left: 10px;
    transition: .5s;
    background: #000000;
 }
 
 .card:hover .card-body {
    opacity: 1;
 }
 
 .card-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
 }
 
 .card-body {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 6px;
    transition: 0.5s;
 }

  /* -------------------------------------------------------------lower movie ends--------------------------------------------------------- */




  @media (max-width: 900px){
  

    
  }
















/* ------------------------------------------------------footer starts----------------------------------------------- */
.footer-top{
    padding: 60px 0;
}
 .iq-bg-dark{
    position: relative;
}
.footer-top .info-share{
    padding-left: 0;
}
.footer-top .info-share li{
    margin-right: 12px;
    display: inline-block;
}
.footer-top .info-share li{
    margin-right: 15px;
    margin-bottom: 15px;
}
.footer-top .info-share li a{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 0;
    color: #fff;
    font-size: 17px;
    border-radius: 50%;
    background: rgba(41, 41, 41, 0.76);
    transition: all 0.4s ease 0s;
}
.footer-top .info-share li a:hover{
    box-shadow: 0 0 10px #bf000a;
    text-shadow: 0 0 2px #bf000a;
    color: #e50914;
    transition: all 0.4s ease 0s;
}
.footer-top .info-share li a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.9);
    z-index: -1;
    border-radius: 50%;
    transition: all 0.4s ease 0s;
}
.textwidget .footer-link-title{
    width: 100px;
}

footer .footer-link-title{
    margin-bottom: 20px;
    margin-top: 0;
}

footer .footer-standard .widget ul li{
    display: inline-block;
    padding-right: 30px;
}
h6 .h6{
    font-size: 1.0em;
}
 /* ------------------------------------------------------------footer ends----------------------------------------------- */
















  /* ---------------------------------------left menu------------------------------------ */
  
  
  .sidepanel hr{
    border: 0;
    height: 4px;
    background: #000000;
    width: 100%;
}
  .sidepanel s {
   padding-top: -70px;
   padding-left: 40px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  } 
  
  .sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 800px;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.00001s;
    padding-top: 60px;
  }

  .sidepanel a {
    height: 45px;
    margin-top: -16px;
    margin-bottom: 15px;
    text-align: left;
   padding-top: 10px;
   padding-left: 15px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;  
    transition: 0.00001s;
    display: block;
   
  }

  .sidepanel a:hover{
    display: block;  
    font-size: 15px;
    background-color: #00000061;
    color: #ffffff;
    border-left: 5px solid red;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .sidepanel p{
    margin-top: -70px;
  
  }
  .sidepanel b {
    margin-top: -10px;
    height: 5px;
   padding-left: -20px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidepanel b img{
    width: 55px;
    border-radius: 5%;
  margin-left: -220px;
 margin-top: -70px;
    
}
  .HR{
   height: 2px;
    color: #ffffff;
    padding-top: 27px ;
  }

  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
    margin-left: 30px;
  }
  
  .openbtn:hover {
    background-color: rgba(0, 0, 0, 0.192);
  }
  